<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--  Encryption  -->
    <!--    <add key="EncryptionType" value="TRIPLE_DES"/>-->
    <add key="EncryptionType" value="AES_256"/>
    <add key="EncryptionKey" value="ABCDEFG54669525PQRSTUVWXYZabcdef852846opqrstuvwxyz"/>
  </appSettings>
</configuration>